.cerimony {
    width: 100vw;
    height: auto;
    background-color: var(--primary-background);
    padding: 64px 0;

    .cerimonyContent {
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        padding: 0 32px;
        padding-top: 32px;

        @media (max-width: 1024px) {
            flex-direction: column;
            align-items: center;
        }

        .cerimonyCard {
            width: calc(100vw / 4);
            display: flex;
            flex-direction: column;
            padding: 0 16px;

            @media (max-width: 1024px) {
                width: 70vw;
                padding: 32px 0;
            }

            h3 {
                text-align: center;
                padding-top: 16px;
                font-family: "Amsterdam", sans-serif;
                font-size: 3rem;
                color: var(--terracotta);
                text-align: center;
                margin-top: 0;
                font-weight: 100;

                @media (max-width: 1024px) {
                    font-size: 2.5rem;
                }

                @media (max-width: 680px) {
                    font-size: 2rem;
                }

                @media (max-width: 520px) {
                    font-size: 1.75rem;
                }
            }

            h6 {
                text-align: center;
                padding-top: 24px;
                padding-bottom: 16px;
                font-family: "Alice", serif;
                font-size: 1rem;
                color: var(--terracotta);
                text-align: center;
                font-weight: 300;

                @media (max-width: 1024px) {
                    font-size: 0.9rem;
                }

                @media (max-width: 680px) {
                    font-size: 0.8rem;
                }


            }
        }

        .verticalDividerSvg {
            @media (max-width: 1024px) {
                display: none;
            }
        }
    }

    h1 {
        font-family: 'Amsterdam', sans-serif;
        font-weight: 100;
        font-size: 5rem;
        color: var(--terracotta);
        text-align: center;
        margin-top: 0;
        padding: 0 32px;

        @media (max-width: 1024px) {
            font-size: 4rem;
        }

        @media (max-width: 680px) {
            font-size: 3rem;
        }

        @media (max-width: 520px) {
            font-size: 2.5rem;
        }
    }

    p {
        font-family: 'Alice', serif;
        font-size: 1.5rem;
        color: var(--terracotta);
        text-align: center;
        padding: 32px;
        font-weight: 300;

        @media (max-width: 1024px) {
            font-size: 1.3rem;
        }

        @media (max-width: 680px) {
            font-size: 1.1rem;
        }

        @media (max-width: 520px) {
            font-size: 1rem;
            padding: 16px 32px;
        }
    }
}